# WEEK 4 Exercises - Making Queries

![ERD-E-COMMERCE](./images/ERD-week4-exercise.png)

## Instruction

1. สร้าง `virtual environment`
2. ติดตั้ง `django` และ `psycopg2` libraries
3. สร้างโปรเจคใหม่ใหม่ชื่อ`myshop`
4. จากนั้นให้ทำการ startapp ใหม่ชื่อ `shop`
5. สร้าง database ชื่อ `shop` ใน Postgres DB
6. ทำการเพิ่ม code ด้านล่างนี้ในไฟล์ `shop/models.py`
7. เพิ่ม **'shop'** ใน `settings.py`
8. ทำการ `makemigrations` และ `migrate`


```python
from django.db import models

# Create your models here.
class Customer(models.Model):
    first_name = models.CharField(max_length=150)
    last_name = models.CharField(max_length=200)
    email = models.CharField(max_length=150)
    address = models.JSONField(null=True)

class ProductCategory(models.Model):
    name = models.CharField(max_length=150)

class Product(models.Model):
    name = models.CharField(max_length=150)
    description = models.TextField(null=True, blank=True)
    remaining_amount = models.PositiveIntegerField(default=0)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    categories = models.ManyToManyField(ProductCategory)

class Cart(models.Model):
    customer = models.ForeignKey(Customer, on_delete=models.CASCADE)
    create_date = models.DateTimeField()
    expired_in = models.PositiveIntegerField(default=60)
    
class CartItem(models.Model):
    cart = models.ForeignKey(Cart, on_delete=models.CASCADE)
    product = models.ForeignKey(Product, on_delete=models.CASCADE)
    amount = models.PositiveIntegerField(default=1)
    
class Order(models.Model):
    customer = models.ForeignKey(Customer, on_delete=models.CASCADE)
    order_date = models.DateField()
    remark = models.TextField(null=True, blank=True)

class OrderItem(models.Model):
    order = models.ForeignKey(Order, on_delete=models.CASCADE)
    product = models.ForeignKey(Product, on_delete=models.CASCADE)
    amount = models.PositiveIntegerField(default=1)
    
class Payment(models.Model):
    order = models.OneToOneField(Order, on_delete=models.PROTECT)
    payment_date = models.DateField()
    remark = models.TextField(null=True, blank=True)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    discount = models.DecimalField(max_digits=10, decimal_places=2, default=0)

class PaymentItem(models.Model):
    payment = models.ForeignKey(Payment, on_delete=models.CASCADE)
    order_item = models.OneToOneField(OrderItem, on_delete=models.CASCADE)
    price = models.DecimalField(max_digits=10, decimal_places=2)
    discount = models.DecimalField(max_digits=10, decimal_places=2, default=0)
    
class PaymentMethod(models.Model):
    class MethodChoices(models.Choices):
        QR = "QR"
        CREDIT = "CREDIT"
    
    payment = models.ForeignKey(Payment, on_delete=models.CASCADE)
    method = models.CharField(max_length=15, choices=MethodChoices.choices)
    price = models.DecimalField(max_digits=10, decimal_places=2)
```

**จากนั้นให้ทำการ migrate และ run คำสั่งในไฟล์ `shop.sql` ใน PgAdmin4**

In [4]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [7]:
 from shop.models import *

### 1. ให้นักศึกษา Query ค้นหาข้อมูลมาแสดงให้ถูกต้องตามโจทย์

1.1 query หาข้อมูล `Order` ทั้งหมดที่เกิดขึ้นในเดือน `พฤษภาคม` มาแสดงผล 10 รายการแรก และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
ORDER ID:22, DATE: 2024-05-01, 
ORDER ID:23, DATE: 2024-05-01, 
ORDER ID:24, DATE: 2024-05-01, 
ORDER ID:25, DATE: 2024-05-02, 
ORDER ID:26, DATE: 2024-05-02, 
ORDER ID:27, DATE: 2024-05-02, 
ORDER ID:28, DATE: 2024-05-03, 
ORDER ID:29, DATE: 2024-05-03, 
ORDER ID:30, DATE: 2024-05-03, 
ORDER ID:31, DATE: 2024-05-04, 
```

In [28]:
order = Order.objects.filter(order_date__month=5)[:10]
order

for o in order:
    print(f'order id: {o.id}, date: {o.order_date}')

order id: 22, date: 2024-05-01
order id: 23, date: 2024-05-01
order id: 24, date: 2024-05-01
order id: 25, date: 2024-05-02
order id: 26, date: 2024-05-02
order id: 27, date: 2024-05-02
order id: 28, date: 2024-05-03
order id: 29, date: 2024-05-03
order id: 30, date: 2024-05-03
order id: 31, date: 2024-05-04

1.2 query หาข้อมูล `Order` ที่มีการซื้อสินค้าชื่อ "Dog Bed" (ดูที่รายการ `OrderItem`) และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
# ตัวอย่างบางส่วน
ORDER ID: 8, ORDER_DATE: 2024-04-26, CUSTOMER: Suwichada Jarastham, REMARK: None
```

In [35]:
dogbed = Order.objects.filter(orderitem__product__name__icontains='Dog Bed')
dogbed

for d in dogbed:
    print(
f'order id: {d.id}, \
order_date: {d.order_date}, \
customer: {d.customer.first_name}, \
remark: {d.remark}'
    )

order id: 8, order_date: 2024-04-26, customer: Suwichada, remark: None
order id: 16, order_date: 2024-04-29, customer: Trinnapon, remark: None
order id: 23, order_date: 2024-05-01, customer: Warit, remark: None
order id: 36, order_date: 2024-05-05, customer: Manit, remark: None
order id: 63, order_date: 2024-05-14, customer: Dejwit, remark: None
order id: 79, order_date: 2024-05-20, customer: Techathorn, remark: None
order id: 151, order_date: 2024-06-13, customer: Thitirat, remark: None

1.3 query หาข้อมูล `Product` ที่มีราคาสินค้าตั้งแต่ `5000.00` ขึ้นไป และอยู่ในหมวดหมู่ `Information Technology` และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
# ตัวอย่างบางส่วน 
PRODUCT ID: 1, NAME: Smartphone, PRICE: 5900.00
```

In [39]:
p = Product.objects.filter(
    price__gt=5000, 
    categories__name='Information Technology'
)

for i in p:
    print(
f'product id: {i.id}, \
name: {i.name}, \
price: {i.price}')

product id: 1, name: Smartphone, price: 5900.00
product id: 2, name: Laptop, price: 25999.00
product id: 3, name: Smart TV, price: 8900.00
product id: 5, name: Tablet, price: 12900.00
product id: 7, name: Digital Camera, price: 32000.00

1.4 query หาข้อมูล `Product` ที่มีราคาสินค้าน้อยกว่า `200.00` และมากกว่า `100.00` และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
PRODUCT ID: 28, NAME: Women's Sweater, PRICE: 190.00
PRODUCT ID: 66, NAME: Salvage the Bones, PRICE: 129.00
```

In [41]:
product2 = Product.objects.filter(
    price__lt=200,
    price__gt=100,
)

for i in product2:
    print(
f'product id: {i.id}, \
name: {i.name}, \
price: {i.price}'
    )

product id: 28, name: Women's Sweater, price: 190.00
product id: 66, name: Salvage the Bones, price: 129.00

1.5 query หาข้อมูล `Product` ในหมวดหมู่ `Electronics` หรือ `Toys and Games` ที่มีราคามากกว่าหรือเท่ากับ 10,000 หรือมีจำนวนคงเหลือน้อยกว่าหรือเท่ากับ 10 และแสดงผลดังตัวอย่าง (0.25 คะแนน)

```txt
# ตัวอย่างบางส่วน 
PRODUCT ID: 2,	PRICE: 25999.00, REMAINING: 19, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 3,	PRICE: 8900.00, REMAINING: 10, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 6,	PRICE: 5000.00, REMAINING: 10, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 7,	PRICE: 32000.00, REMAINING: 4, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 8,	PRICE: 990.00, REMAINING: 0, CATEGORIES: Information Technology, Electronics
PRODUCT ID: 8,	PRICE: 990.00, REMAINING: 0, CATEGORIES: Information Technology, Electronics
```

In [70]:
product3 = Product.objects.filter(
    (Q(categories__name='Electronics') | Q(categories__name='Toys and Games')),
    Q(price__gte=10000) | Q(remaining_amount__lte=10)
)

product3

for i in product3:
    print(f'product id: {i.id}, \
    price: {i.price}, remaining: {i.remaining_amount}, categories: ', end='')
    for j in i.categories.all():
        print(f'{j.name}', end='')
    print()

product id: 2,     price: 25999.00, remaining: 19, categories: Information TechnologyElectronics
product id: 3,     price: 8900.00, remaining: 10, categories: Information TechnologyElectronics
product id: 5,     price: 12900.00, remaining: 22, categories: Information TechnologyElectronics
product id: 6,     price: 5000.00, remaining: 10, categories: Information TechnologyElectronics
product id: 7,     price: 32000.00, remaining: 4, categories: Information TechnologyElectronics
product id: 8,     price: 990.00, remaining: 0, categories: Information TechnologyElectronics
product id: 14,     price: 18900.00, remaining: 30, categories: Electronics
product id: 50,     price: 500.00, remaining: 10, categories: Toys and Games

1.6 query หาข้อมูล Product โดยมีเงื่อนไขดังนี้: (0.25 คะแนน)

- ชื่อสินค้ามีคำว่า `Smart` หรือ `Electric`
- รายละเอียดสินค้า ไม่มีคำว่า `compact` หรือ `portable`
- รายละเอียดสินค้ามีชื่อสินค้า

และแสดงผลดังตัวอย่าง
```txt
PRODUCT ID: 1, NAME: Smartphone, DESCRIPTION: A sleek and powerful smartphone with advanced features. 
PRODUCT ID: 10, NAME: Smartwatch, DESCRIPTION: A stylish smartwatch with health monitoring and notification features. 
PRODUCT ID: 16, NAME: Electric Kettle, DESCRIPTION: Fast-boiling electric kettle with auto shut-off feature. 
PRODUCT ID: 18, NAME: Electric Fan, DESCRIPTION: Oscillating electric fan for cooling rooms. 
```

### 2. เพิ่ม ลบ แก้ไข สินค้า

2.1 ให้เพิ่มสินค้าใหม่จำนวน 3 รายการ (0.1 คะแนน)

```txt
สินค้าที่ 1
ชื่อ: Philosopher's Stone (1997)
หมวดหมู่สินค้า: Books and Media
จำนวนคงเหลือ: 20
รายละเอียดซ: By J. K. Rowling.
ราคา: 790

สินค้าที่ 2
ชื่อ: Me Before You
หมวดหมู่สินค้า: Books and Media
จำนวนคงเหลือ: 40
รายละเอียดซ: A romance novel written by Jojo
ราคา: 390

สินค้าที่ 3
ชื่อ: Notebook HP Pavilion Silver
หมวดหมู่สินค้า: Information Technology และ Electronics
จำนวนคงเหลือ: 10
รายละเอียดซ: Display Screen. 16.0
ราคา: 20000
```

2.2 แก้ไขชื่อสินค้า จาก `Philosopher's Stone (1997)` เป็น `Half-Blood Prince (2005)` (0.1 คะแนน)

2.3 แก้ไขชื่อหมวดหมู่สินค้า จาก `Books and Media` เป็น `Books` (0.1 คะแนน)

2.4 ลบสินค้าทุกตัวที่อยู่ในหมวดหมู่ `Books` (0.2 คะแนน)